<form method="POST" action="/configuration_erb/keys">
  <ul class="mdc-list mdc-list--dense demo-list" style="list-style: none">
    <li class="mdc-list-item">
      <div class="mdl-textfield mdl-js-textfield">
        <label for="input"><code>FASTLANE_CI_ENCRYPTION_KEY</code></label>
        <input
            id="encryption_key"
            class="mdl-textfield__input"
            type="text"
            name="encryption_key"
            value="<%= keys[:encryption_key] %>"
            placeholder="Some custom encryption key"
        />
      </div>
    </li>

    <li class="mdc-list-item">
      <div class="mdl-textfield mdl-js-textfield">
        <label for="input"><code>FASTLANE_CI_PASSWORD</code></label>
        <input
            id="ci_user_password"
            class="mdl-textfield__input"
            type="password"
            name="ci_user_password"
            value="<%= keys[:ci_user_password] %>"
            placeholder="Your GitHub bot's password"
        />
      </div>
    </li>

    <li class="mdc-list-item">
      <div class="mdl-textfield mdl-js-textfield">
        <label for="input"><code>FASTLANE_CI_BOT_API_TOKEN</code></label>
        <input
            id="ci_user_api_token"
            class="mdl-textfield__input"
            type="password"
            name="ci_user_api_token"
            value="<%= keys[:ci_user_api_token] %>"
            placeholder="Your GitHub bot's API token"
        />
      </div>
    </li>

    <li class="mdc-list-item">
      <div class="mdl-textfield mdl-js-textfield">
        <label for="input"><code>FASTLANE_CI_REPO_URL</code></label>
        <input
            id="repo_url"
            class="mdl-textfield__input"
            type="text"
            name="repo_url"
            value="<%= keys[:repo_url] %>"
            placeholder="https://github.com/username/reponame"
        />
      </div>
    </li>

    <li class="mdc-list-item">
      <div class="mdl-textfield mdl-js-textfield">
        <label for="input"><code>FASTLANE_CI_INITIAL_ONBOARDING_USER_API_TOKEN</code></label>
        <input
            id="initial_onboarding_user_api_token"
            class="mdl-textfield__input"
            type="password"
            name="initial_onboarding_user_api_token"
            value="<%= keys[:initial_onboarding_user_api_token] %>"
            placeholder="The API token for your GitHub account"
        />
      </div>
    </li>

    <input
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        type="submit"
        value="Update configuration variables."
    >
  </ul>
</form>
