<form method="POST" action="provider_credentials/<%= action %>">
  <td>
    <code>id=<%= credential.id %></code>
    <input type="hidden" name="id" value=<%= credential.id %>>
  </td>

  <td>
    <input
      id="user_id"
      class="mdl-textfield__input"
      type="text"
      name="user_id"
      value="<%= user_id %>"
      placeholder="Associated User ID"
    />
  </td>

  <td>
    <input
      id="email"
      class="mdl-textfield__input"
      type="text"
      name="email"
      value="<%= credential.email %>"
      placeholder="Credential Email"
    />
  </td>

  <td>
    <input
      id="api_token"
      class="mdl-textfield__input"
      type="text"
      name="api_token"
      value="<%= credential.api_token %>"
      placeholder="Credential API Token"
    />
  </td>

  <td><%= credential.provider_name %></td>

  <td><%= credential.type %></td>

  <td>
    <input
      id="full_name"
      class="mdl-textfield__input"
      type="text"
      name="full_name"
      value="<%= credential.full_name %>"
      placeholder="Credential Full Name"
    />
  </td>

  <td>
    <input
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      type="submit"
      value="<%= action.capitalize %> credential"
    />
  </td>
</form>
