<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout__title">fastlane.ci</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Dashboard</a>
      <a class="mdl-navigation__link" href="#">Settings</a>
    </nav>
  </div>

  <main class="mdl-layout__content" style="padding: 40px">
    <h3>Your projects</h3>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Status</th>
          <th style="width: 300px; text-align: center">Project Name</th>
          <th>Enabled</th>
        </tr>
      </thead>
      <tbody>
        <% projects_with_access.each do |project| %>
          <tr style="cursor: pointer;" onclick="location.href='/projects/<%= project.id %>'">
            <td>💚</td>
            <td style="text-align: center;"><%= project.project_name %></td>
            <td><%= project.enabled ? "✅" : "🚫" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br />

    <h3>Projects you don't have access to</h3>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th style="width: 300px; text-align: center">Project Name</th>
          <th>Access</th>
        </tr>
      </thead>
      <tbody>
        <% projects_without_access.each do |project| %>
          <tr>
            <td style="text-align: center;"><%= project.project_name %></td>
            <td>🚫</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>To get access to those projects, make sure your GitHub account has access to them</p>

    <br />

    <a href="/dashboard/add_project" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Add new Project
    </a>

  </main>
</div>
