<form method="POST" action="credentials/<%= action %>">
  <input type="hidden" name="used_id" value=<%= user_id %>>
  <input type="hidden" name="id" value=<%= credential.id %>>

  <p>
    <code>email=</code>
    <input type="text" name="email" value=<%= credential.email %>>
  </p>

  <p>
    <code>encrypted_api_token=</code>
    <input type="text" name="api_token" value=<%= credential.encrypted_api_token %>>
  </p>

  <p>
    <code>provider_name=</code>
    <input type="text" name="provider_name" value=<%= credential.provider_name %>>
  </p>

  <p>
    <code>type=</code>
    <input type="text" name="type" value=<%= credential.type %>>
  </p>

  <p>
    <code>full_name=</code>
    <input type="text" name="full_name" value=<%= credential.full_name %>>
  </p>

  <input type="submit" value="<%= action.capitalize %> credential">
</form>
