<form method="POST" action="provider_credentials/<%= action %>">
  <td>
    <code>id=<%= credential.id %></code>
    <input type="hidden" name="id" value=<%= credential.id %>>
  </td>

  <td>
    <input type="text" name="user_id" value=<%= user_id %>>
  </td>

  <td>
    <input type="text" name="email" value=<%= credential.email %>>
  </td>

  <td>
    <input type="text" name="api_token" value=<%= credential.encrypted_api_token %>>
  </td>

  <td><%= credential.provider_name %></td>

  <td><%= credential.type %></td>

  <td>
    <input type="text" name="full_name" value=<%= credential.full_name %>>
  </td>

  <td>
    <input type="submit" value="<%= action.capitalize %> credential">
  </td>
</form>
