<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>

  <%= erb :"../../global/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <!-- Users found in users.json -->

    <h4>Existing users found in <code>users.json</code></h4>
    <div class="table-responsive-vertical shadow-z-1" style="overflow: scroll">
      <table class="table-mc-light-blue mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>id</th>
            <th>Email</th>
            <th>Password Hash</th>
            <th>Provider Credentials</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% users.each do |user| %>
            <tr>
              <%= erb :"./forms/_users", locals: { user: user, action: "update" } %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Form to create another user to add to the `users.json` -->

    <h4>Add new user</h4>
    <div class="table-responsive-vertical shadow-z-1" style="overflow: scroll">
      <table class="table-mc-light-blue mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <%= erb :"./forms/_users", locals: { user: user, action: "update" } %>
          </tr>
        </thead>

        <tbody>
          <tr>
            <%=
              erb :"./forms/_users",
              locals: { user: blank_user_for_create_action_form, action: "create" }
            %>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
