<form method="POST" action="users/<%= action %>">
  <p>
    <code>id=<%= user.id %></code>
    <input type="hidden" name="id" value=<%= user.id %>>
  </p>

  <p>
    <code>email=</code>
    <input type="text" name="email" value=<%= user.email %>>
  </p>

  <p>
    <code>password_hash=</code>
    <input type="text" name="password_hash" value=<%= user.password_hash %>>
  </p>

  <b>Associated Provider Credentials</b>
  <% user.provider_credentials.each do |credential| %>
    <p><%= credential.id %></p>
    <p><%= credential.full_name %></p>
    <p>
      <a href="/provider_credentials">Edit or add provider credentials</a>
    </p>
  <% end %>

  <input type="submit" value="<%= action.capitalize %> user">
</form>
