<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
      <div class="mdl-layout-spacer"></div>
      <a href="/projects_erb/<%= project.id %>/trigger" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Trigger Job Now
      </a>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-info" class="mdl-layout__tab is-active">Info</a>
      <a href="#scroll-tab-settings" class="mdl-layout__tab">Settings</a>
    </div>
  </header>

  <%= erb :"../../partials/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-info">
      <%= erb(:project_info, locals: { project: project }) %>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-settings">
      <%= erb(:project_settings, locals: { project: project , available_lanes: available_lanes, fastfile_path: fastfile_path }) %>
    </section>
  </main>
</div>
