<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
      <div class="mdl-layout-spacer"></div>
      <% if project.job_triggers.any? { |job_trigger| job_trigger.kind_of?(FastlaneCI::ManualJobTrigger) } %>
          <%= erb :"../../global/trigger_job_button", locals: { project: project, build: nil, disabled: false } %>
      <% else %>
          <%= erb :"../../global/trigger_job_button", locals: { project: project, build: nil, disabled: true } %>
      <% end %>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-info" class="mdl-layout__tab is-active">Info</a>
      <a href="#scroll-tab-settings" class="mdl-layout__tab">Settings</a>
    </div>
  </header>

  <%= erb :"../../global/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-info">
      <%= erb(:project_info, locals: { project: project }) %>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-settings">
      <%= erb(:project_settings, locals: { project: project , available_lanes: available_lanes, fastfile_path: fastfile_path, global_env_variables: global_env_variables, project_env_variables: project_env_variables }) %>
    </section>
  </main>
</div>
