<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>

  <%= erb :"../../partials/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <% if variables[:status] == :error %>
      <%= erb :"./errors/_keys" %>
    <% end %>

    <p><%= variables[:message] %></p>

    <% if first_time_user? %>
      <h1>Welcome to FastlaneCI 👋!</h1>
      <b>
        <p>A mobile-optimized, self-hosted continuous integration platform.</p>
      </b>

      <p>We've noticed this is your first time running the server. FastlaneCI
        requires you setup a private configuration repository on GitHub. Would
        you like us to create the private repo at the url below?</p>

      <!-- Form to create private remote github repository -->

      <%= erb :"./forms/_git_repo" %>
    <% end %>

    <% if keys.any?(&:nil?) %>
      <%= erb :"./warnings/_env_variables" %>
    <% end %>

    <!-- Form to create/mutate environment variable data -->

    <h3>Environment Variables</h3>
    <%= erb :"./forms/_keys" %>
  </main>
</div>
