<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>
  
  <%= erb :"../../partials/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <form method="POST" action="/projects/add/<%= repo.git_config.name %>">
      <h5>Adding <%= repo.git_config.full_name %></h5>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" name="project_name" value="<%= repo.git_config.full_name %>">
        <label class="mdl-textfield__label" for="project_name">Project Name</label>
      </div>
      <br />
      <h5>Lane to run</h5>
      <p><code>Fastfile</code> located at path <code><%= fastfile_path.split("/").last(2).join("/") %></code></p>
      <select name="selected_lane">
        <% lanes.each do |current_lane| %>
          <option value="<%= current_lane %>"><%= current_lane %></option>
        <% end %>
      </select>
      <br />
      <br />
      <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" title="Save">
    </form>
  </main>
</div>
