<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>

  <%= erb :"../../partials/navigation" %>

  <main class="mdl-layout__content" style="padding: 40px">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Status</th>
          <th style="width: 300px;">Project Name</th>
          <th style="width: 400px;">Branches</th>
        </tr>
      </thead>
      <tbody>
        <% repos.each do |repo| %>
          <tr style="cursor: pointer;">
            <td>💚</td>
            <td><%= repo.name %></td>
            <td>
            <!-- TODO: Heyo! This is totally far from ideal, we'd want to load the branches of a selected repo under demand, but for development purposes, you know -->
              <div class="mdl-textfield mdl-js-textfield getmdl-select">
                <input type="text" value="" class="mdl-textfield__input" id="<%= repo.name %>" readonly>
                <input type="hidden" value="" name="<%= repo.name %>">
                <label for="<%= repo.name %>" class="mdl-textfield__label">Branch</label>
                <ul for="<%= repo.name %>" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                  <% service.branches(repo_url: repo.git_url).each do |branch| %>
                    <li class="mdl-menu__item" data-val="<%= branch %>>"><%= branch %></li>
                  <% end %>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </main>
</div>
