<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title"><%= title %></span>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout__title">fastlane.ci</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Dashboard</a>
      <a class="mdl-navigation__link" href="#">Settings</a>
    </nav>
  </div>
  <main class="mdl-layout__content" style="padding: 40px">
    <h1><%= title %></h1>
    <a href="/projects/<%= project.id %>/trigger" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Trigger Job Now
    </a>

    <br /><br />

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Status</th>
          <th>Build Number</th>
          <th>Triggered</th>
        </tr>
      </thead>
      <tbody>
        <% project.builds.each do |build| %>
          <tr style="cursor: pointer;" onclick="location.href='/projects/'">
            <td>
              <% if build.status == "success" %>
                <%= "✅" %>
              <% elsif build.status == "pending" %>
                <%= "🌕" %>
              <% else %>
                <%= "🚫" %>
              <% end %>
            </td>
            <td style="text-align: center;"><%= build.number %></td>
            <td><%= build.timestamp %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br />


    
    <a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Edit Project
    </a>

  </main>
</div>
